.item {
  display: flex;
  flex-direction: column;
  border: 1px solid;
}
.item :first-child {
  background: #bfbfbf;
}
.item :last-child {
  height: 2rem;
  cursor: pointer;
}
.item input {
  outline: none;
  border: none;
  font-size: large;
  width: fit-content;
}
